div {
    margin: 60px;
}

p {
    font-size: 15px;
    font-family: serif;
    color: rgb(163, 163, 163);
}

a {
    font-size: 15px;
    font-family: serif;
    color: rgb(154, 218, 165);
}

h1 {
    font-family: 'DM Serif Display', serif;
    color: rgb(221, 221, 221);
}

h4 {
    font-family: 'DM Serif Display', serif;
    color: rgb(221, 221, 221);
    font-style: italic;
    font-size: 75%;
}

body {
    background-color: rgb(87, 87, 87);
}

@media only screen and (max-width: 600px) {
    img {
        max-width: 100%;
        height: auto;
      }

      div {
        margin: 20px;
    }  
}
