* {
    box-sizing: border-box;
    }

    body {
    font-family: Arial;
    padding: 10px;
    background: #333333;
    }

    .header {
    padding: 30px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    }

    .header h1 {
    font-size: 100px;
    color: #fbfef9;
    }

    .responsive {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

    .topnav {
        width: 100%;
        overflow: auto;
        top: 0;
      }

    .topnav a {
        float: left;
        padding: 12px;
        color:#fbfef9;
        text-decoration: none;
        font-family: 'Anton', sans-serif;
        font-size: 25px;
        letter-spacing: 1px;
        width: 25%;
        text-align: center;
        margin-bottom: 5px;
      }

    .topnav a:hover {
        background-color: #C8C833;
        color: #463f3a;
        border-radius: 5px;
    }


    @media screen and (max-width: 800px) {
      .columnleft, .columnright, .columnmiddle, .guide1, .guide2, .raidpic, .raidvideo, .raidguidetext, .leftguide, .rightguide, .guildleft, .guildright {
        width: 100%;
          }
      .img2 {
        display: none;
        }
      .card {
        text-align: center;
        }
      .topnav {
        position: static;
        }
      .videobox1 {
        width: 100%;
        }
      .videobox2 {
        width: 100%;
        }
      .raidguides {
        text-align: left;
      }
      .raidvideo {
        text-align: left;
      }
      }


    @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
      }
    }

@media screen and (max-width: 500px) {
    .topnav a {
      float: none;
      display: block;
      width: 100%;
      text-align: center;
      }
    }

@media (max-width: 650px) {

  .header h1 img {
        height:75%;
        width:75%;
   }
  }
