* {
    box-sizing: border-box;
    }
    
    body {
    font-family: Arial;
    padding: 10px;
    background: white;
    }
    
    /* Header/Blog Title */
    .header {
    padding: 30px;
    text-align: center;
    background: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    }
    
    .header h1 {
    font-size: 100px;
    }
    
    /* Style the top navigation bar */
    .topnav {
        width: 100%;
        background-color: rgb(49, 49, 49);
        overflow: auto;
      }
    
    /* Style the topnav links */
    .topnav a {
        float: left;
        padding: 12px;
        color:rgb(211, 255, 213);
        text-decoration: none;
        font-family: 'Anton', sans-serif; 
        font-size: 17px;
        letter-spacing: 1px;
        width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
        text-align: center; /* If you want the text to be centered */
      }
    
    /* Change color on hover */
    .topnav a:hover {
        background-color: #000;
    }
    
    /* Create two unequal columns that floats next to each other */
    /* Left column */
    .leftcolumn {   
    float: left;
    width: 75%;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    background: white;
    }
    
    /* Right column */
    .rightcolumn {
    float: left;
    width: 25%;
    background: white;
    padding-left: 20px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    }
    
    /* Fake image */
    .fakeimg {
    background: white;
    width: 100%;
    padding: 20px;
    }
    
    .fakeimg1 {
        background-image: url("guildgroup.jpg");
        background-position: center;
        background-size: 40%;
        background-repeat: no-repeat;
        width: 100%;
        padding: 20px;
        }
    
    .fakeimg2 {
        background-image: url("wowclassicblack.png");
        background-color:#1A1915;
        background-position: center;
        background-size: 40%;
        background-repeat: no-repeat;
        width: 100%;
        padding: 20px;
        }
    
    /* Add a card effect for articles */
    .card {
    background-color: rgb(94, 94, 94);
    padding: 20px;
    margin-top: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #f2f2f2;
    border-style: solid;
    border-color: black;
    overflow: auto;
    }

    .card a {
        color: rgb(95, 219, 101);
    }
    
    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    
    /* Footer */
    .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    }

    .video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
    
    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
        }

    .img2 {
        display: none;
        }
    .card {
        text-align: center;
    }
    }
    
    /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
    @media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
    }

    /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
    .topnav a {
      float: none;
      display: block;
      width: 100%;
      text-align: center; /* If you want the text to be left-aligned on small screens */
    }
  }

  .clearfix {
    overflow: auto;
  }
  
  .img2 {
    float: right;
  }

  .blizzard {
      color: #00baaf;
      text-align: left;
      background-color: #000000;
      padding: 20px;
      border-style: solid;
      border-color: #006a8c;
  }
  
  .blizzard h1 {
      color: white;
  }

  .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #7289d9;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 3px;
  color: rgb(51, 51, 51);
}

.left a {
    color: rgb(51, 51, 51);
    text-decoration: none;
    font-size:1.7vw;
}

.right a {
    color: white;
    text-decoration: none;
    font-size:1.5vw;
}

.right {
  right: 0;
  background-color: #0f0a08;
  letter-spacing: 3px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 60%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 100%;
  max-width: 450px;
  height: auto;
  border-radius: 5%;
}